@import '~antd/dist/antd.css';

#mainLayout {
    min-height: 100vh;
    background-color: white;
}

.mainHeader {
    background-color: rgba(255, 255, 255, 0.80);
}

.logo-small {
    padding-left: 1em !important;
    padding-right: 1em !important;
}
